@model SlarkInc.Models.LeapCreditApplicationForm2
@using System.Web
@using Microsoft.AspNet.Identity

@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0041)https://leapcredit.com/application-part2/ -->
<html lang="en-US" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application (Part 2) – Leap Credit</title>
    <link rel="dns-prefetch" href="https://www.google.com/">
    <link rel="dns-prefetch" href="https://s.w.org/">
    <link rel="alternate" type="application/rss+xml" title="Leap Credit » Feed" href="https://leapcredit.com/feed/">
    <link rel="alternate" type="application/rss+xml" title="Leap Credit » Comments Feed" href="https://leapcredit.com/comments/feed/">
    <script type="text/javascript" async="" src="~/Content/Application_Part2/recaptcha__en.js.download"></script>
    <script async="" charset="utf-8" src="~/Content/Application_Part2/saved_resource" type="text/javascript"></script>
    <script type="text/javascript" async="" src="~/Content/Application_Part2/1.js.download"></script>
    <script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/leapcredit.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.8.1"}};
			!function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,56826,8203,55356,56819),0,0),c=j.toDataURL(),b===c&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55358,56794,8205,9794,65039),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55358,56794,8203,9794,65039),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <script src="~/Content/Application_Part2/wp-emoji-release.min.js.download" type="text/javascript" defer=""></script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" id="contact-form-7-css" href="~/Content/Application_Part2/styles.css" type="text/css" media="all">
    <link rel="stylesheet" id="leap-credit-style-css" href="~/Content/Application_Part2/style.css" type="text/css" media="all">
    <link rel="stylesheet" id="gem-base-css" href="~/Content/Application_Part2/gem.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-icons-css" href="~/Content/Application_Part2/elementor-icons.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="font-awesome-css" href="~/Content/Application_Part2/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-animations-css" href="~/Content/Application_Part2/animations.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-frontend-css" href="~/Content/Application_Part2/frontend.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-global-css" href="~/Content/Application_Part2/global.css" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-post-611-css" href="~/Content/Application_Part2/post-611.css" type="text/css" media="all">
    <script type="text/javascript" src="~/Content/Application_Part2/jquery.js.download"></script>
    <script type="text/javascript" src="~/Content/Application_Part2/jquery-migrate.min.js.download"></script>
    <link rel="https://api.w.org/" href="https://leapcredit.com/wp-json/">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://leapcredit.com/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://leapcredit.com/wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 4.8.1">
    <link rel="canonical" href="https://leapcredit.com/application-part2/">
    <link rel="shortlink" href="https://leapcredit.com/?p=611">
    <link rel="alternate" type="application/json+oembed" href="https://leapcredit.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fleapcredit.com%2Fapplication-part2%2F">
    <link rel="alternate" type="text/xml+oembed" href="https://leapcredit.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fleapcredit.com%2Fapplication-part2%2F&amp;format=xml">
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/Content/Application_Part2/css">
    <link rel="icon" href="https://leapcredit.com/wp-content/uploads/2017/04/cropped-LeapCreditMiniLogo-copy-32x32.png" sizes="32x32">
    <link rel="icon" href="https://leapcredit.com/wp-content/uploads/2017/04/cropped-LeapCreditMiniLogo-copy-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="https://leapcredit.com/wp-content/uploads/2017/04/cropped-LeapCreditMiniLogo-copy-180x180.png">
    <meta name="msapplication-TileImage" content="https://leapcredit.com/wp-content/uploads/2017/04/cropped-LeapCreditMiniLogo-copy-270x270.png">
    <style type="text/css" id="wp-custom-css">
                /*
        You can add your own CSS here.

        Click the help icon above to learn more.
        */
    </style>
    <script type="text/javascript" src="~/Content/Application_Part2/host-loader.js.download"></script>
    <style media="print" class="jx_ui_StyleSheet" __jx__id="___$_2" type="text/css">
        .zopim {
            display: none !important;
        }
    </style>
    <script type="text/javascript" src="~/Content/Application_Part2/host.js.download"></script>
</head>
<body class="page-template page-template-elementor_canvas page page-id-611 elementor-default elementor-page elementor-page-611">
    <div class="zopim" __jx__id="___$_61 ___$_61" data-test-id="ChatWidgetButton" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; padding: 0px; border: 0px; background: transparent; overflow: hidden; position: fixed; z-index: 16000002; width: 180px; height: 30px; right: 10px; bottom: 0px;"><iframe frameborder="0" src="~/Content/Application_Part2/saved_resource.html" style="background-color: transparent; vertical-align: text-bottom; position: relative; width: 100%; height: 100%; min-width: 100%; min-height: 100%; max-width: 100%; max-height: 100%; margin: 0px; overflow: hidden; display: block;" data-test-id="ChatWidgetButton-iframe"></iframe></div><div class="zopim" __jx__id="___$_4 ___$_4" data-test-id="ChatWidgetWindow" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; padding: 0px; border: 0px; background: transparent; overflow: hidden; position: fixed; z-index: 16000001; right: 10px; bottom: 0px; border-top-left-radius: 5px; border-top-right-radius: 5px; display: none; width: 290px; height: 400px; box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 2px;"><iframe frameborder="0" src="~/Content/Application_Part2/saved_resource(1).html" data-test-id="ChatWidgetWindow-iframe" style="background-color: transparent; vertical-align: text-bottom; position: relative; width: 100%; height: 100%; min-width: 100%; min-height: 100%; max-width: 100%; max-height: 100%; margin: 0px; overflow: hidden; display: block;"></iframe></div>
    <div class="elementor elementor-611">
        <div class="elementor-inner">
            <div class="elementor-section-wrap">
                <section data-id="jlzybkh" class="elementor-element elementor-element-jlzybkh elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-hidden-desktop elementor-section elementor-top-section" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-no">
                        <div class="elementor-row">
                            <div data-id="hglasea" class="elementor-element elementor-element-hglasea elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="forfoia" class="elementor-element elementor-element-forfoia elementor-widget elementor-widget-image" data-element_type="image.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image">
                                                    <a href="http://leapcredit.com/">
                                                        <img width="640" height="212" src="~/Content/Application_Part2/LeapCreditLogo-768x254.png" class="attachment-medium_large size-medium_large" alt="" srcset="https://leapcredit.com/wp-content/uploads/2017/04/LeapCreditLogo-768x254.png 768w, https://leapcredit.com/wp-content/uploads/2017/04/LeapCreditLogo-300x99.png 300w, https://leapcredit.com/wp-content/uploads/2017/04/LeapCreditLogo-1024x339.png 1024w" sizes="(max-width: 640px) 100vw, 640px">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <section data-id="ntdwlss" class="elementor-element elementor-element-ntdwlss elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="osuirnt" class="elementor-element elementor-element-osuirnt elementor-column elementor-col-100 elementor-inner-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="pckdwta" class="elementor-element elementor-element-pckdwta elementor-align-center elementor-widget elementor-widget-button" data-element_type="button.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-button-wrapper">
                                                                            <a href="https://portal.leapcredit.com/" class="elementor-button-link elementor-button elementor-size-xs" target="_blank">
                                                                                <span class="elementor-button-content-wrapper">
                                                                                    <span class="elementor-align-icon-left elementor-button-icon">
                                                                                        <i class="fa fa-unlock-alt"></i>
                                                                                    </span>
                                                                                    <span class="elementor-button-text">Login</span>
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-id="rfivfbq" class="elementor-element elementor-element-rfivfbq elementor-section-boxed elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle elementor-section-content-bottom elementor-hidden-tablet elementor-hidden-phone elementor-section elementor-top-section" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div data-id="igdrvbk" class="elementor-element elementor-element-igdrvbk elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="ewhqbxp" class="elementor-element elementor-element-ewhqbxp elementor-widget elementor-widget-image" data-element_type="image.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image">
                                                    <a href="http://leapcredit.com/">
                                                        <img width="300" height="99" src="~/Content/Application_Part2/LeapCreditLogo-300x99.png" class="attachment-medium size-medium" alt="" srcset="https://leapcredit.com/wp-content/uploads/2017/04/LeapCreditLogo-300x99.png 300w, https://leapcredit.com/wp-content/uploads/2017/04/LeapCreditLogo-768x254.png 768w, https://leapcredit.com/wp-content/uploads/2017/04/LeapCreditLogo-1024x339.png 1024w" sizes="(max-width: 300px) 100vw, 300px">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-id="kiquwpa" class="elementor-element elementor-element-kiquwpa elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="bfdtvug" class="elementor-element elementor-element-bfdtvug elementor-align-right elementor-widget elementor-widget-button" data-element_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a href="https://portal.leapcredit.com/" class="elementor-button-link elementor-button elementor-size-sm" target="_blank">
                                                        <span class="elementor-button-content-wrapper">
                                                            <span class="elementor-align-icon-left elementor-button-icon">
                                                                <i class="fa fa-unlock-alt"></i>
                                                            </span>
                                                            <span class="elementor-button-text">Login</span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-id="cyuodfj" class="elementor-element elementor-element-cyuodfj elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                    <div class="elementor-background-overlay"></div>
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div data-id="wcrysio" class="elementor-element elementor-element-wcrysio elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="tmzkijg" class="elementor-element elementor-element-tmzkijg elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-text-editor elementor-clearfix"><p>APPLICATION PROCESS</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-id="vnpcldz" class="elementor-element elementor-element-vnpcldz elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div data-id="ifcxvpa" class="elementor-element elementor-element-ifcxvpa elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="tcucghx" class="elementor-element elementor-element-tcucghx elementor-widget elementor-widget-image" data-element_type="image.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image">
                                                    <img width="640" height="55" src="~/Content/Application_Part2/step2-768x66.png" class="attachment-medium_large size-medium_large" alt="" srcset="https://leapcredit.com/wp-content/uploads/2017/05/step2-768x66.png 768w, https://leapcredit.com/wp-content/uploads/2017/05/step2-300x26.png 300w, https://leapcredit.com/wp-content/uploads/2017/05/step2-1024x87.png 1024w" sizes="(max-width: 640px) 100vw, 640px">
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="m2d2xbf" class="elementor-element elementor-element-m2d2xbf elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-text-editor elementor-clearfix"><p>* Denotes a required field &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<i class="fa fa-question-circle" style="color: orange;" title="Mobile number is required for text notifactions regarding your account"></i> Hover to read help tips</p></div>
                                            </div>
                                        </div>
                                        <div data-id="kimvsjj" class="elementor-element elementor-element-kimvsjj elementor-widget elementor-widget-html" data-element_type="html.default">
                                            <div class="elementor-widget-container">


                                                <title>Application</title>
                                                <style>
                                                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" > <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" > .h1 {
                                                        font-family: 'Roboto', sans-serif;
                                                        color: black;
                                                    }

                                                    .paylabel {
                                                        font-family: 'Roboto', sans-serif;
                                                        color: black;
                                                        font-size: 12px;
                                                    }

                                                    .pay {
                                                        font-family: 'Roboto', sans-serif;
                                                        text-align: center;
                                                        font-size: 25px;
                                                        color: white;
                                                    }

                                                    .table {
                                                        width: 580px;
                                                    }

                                                    .banner {
                                                        background-color: green;
                                                        font-family: 'Roboto', sans-serif;
                                                        text-align: left;
                                                        width: 200px;
                                                        margin-top: -20px;
                                                        margin-bottom: 0px;
                                                        padding-top: 10px;
                                                        padding-bottom: 10px;
                                                        padding-left: 0px;
                                                        padding-right: 0px;
                                                    }

                                                    .third {
                                                        font-family: 'Roboto', sans-serif;
                                                        text-align: left;
                                                        width: 180px;
                                                        margin: 10px;
                                                        padding: 0px;
                                                    }

                                                    .half {
                                                        font-family: 'Roboto', sans-serif;
                                                        text-align: left;
                                                        width: 280px;
                                                        margin: 10px;
                                                        padding: 0px;
                                                    }

                                                    .label {
                                                        font-family: 'Roboto', sans-serif;
                                                        color: #37a046;
                                                        font-size: 12px;
                                                        padding-left: 3px;
                                                    }

                                                    .field3 {
                                                        width: 180px;
                                                        background-color: lightgray;
                                                        color: black;
                                                        border: 0px;
                                                        padding: 3px;
                                                        font-size: 10px;
                                                    }

                                                    .field2 {
                                                        width: 280px;
                                                        background-color: lightgray;
                                                        color: black;
                                                        border: 0px;
                                                        padding: 3px;
                                                        font-size: 10px;
                                                    }

                                                    .num {
                                                        background-color: lightgray;
                                                        color: black;
                                                        border: 0px;
                                                        padding: 3px;
                                                        font-size: 10px;
                                                    }

                                                    ::-webkit-input-placeholder {
                                                        color: black;
                                                    }

                                                    :-moz-placeholder {
                                                        color: black;
                                                        opacity: 1;
                                                    }

                                                    ::-moz-placeholder {
                                                        color: black;
                                                        opacity: 1;
                                                    }

                                                    :-ms-input-placeholder {
                                                        color: black;
                                                    }
                                                </style>

                                                <center>
                                                    <fieldset style="width: 620px; border: none; padding: 10px">
                                                        @*<form method="post">*@
                                                        @using (Html.BeginForm("Step3", "Home", FormMethod.Post, new { id = "step2Form", @class = "navbar-right" }))
                                                        {

                                                            <center>

                                                                <div class="third" style="float: left">
                                                                    <p class="paylabel">Loan Amount:</p>
                                                                </div>
                                                                <div class="third" style="float: left">
                                                                    <p class="paylabel">Payment Period:</p>
                                                                </div>
                                                                <div class="third" style="float: left">
                                                                    <p class="paylabel">Payment Plan:</p>
                                                                </div>

                                                                <br>
                                                                <div class="banner" style="float: left; border-top-left-radius: 500px; border-bottom-left-radius: 500px">
                                                                    <p class="pay">$ @TempData["Loan_Amount"] </p>
                                                                </div>
                                                                <div class="banner" style="float: left">
                                                                    <p class="pay">@TempData["Paycheck_Period"] </p>
                                                                </div>
                                                                <div class="banner" style="float: left; border-top-right-radius: 500px; border-bottom-right-radius: 500px">
                                                                    <p class="pay">$0 <span style="font-size: 15px">(0 payments)</span></p>
                                                                </div>
                                                                <br>

                                                                <div class="third" style="float: left">

                                                                </div>
                                                                <div class="third" style="float: left">

                                                                </div>
                                                                <div class="third" style="float: left">
                                                                    <label class="label">ACH Authorization </label><br>
                                                                    @*<input type="checkbox" class="field3" style="width: 10px" id="ach" name="user_ach" checked="yes" required="">*@
                                                                    @Html.CheckBoxFor(model => model.ck_ACH_Authorization)
                                                                    <span style="font-size: 10px">A $50 fee per payment is incurred without this authourization.</span>
                                                                </div>
                                                                <div class="half" style="float: left">
                                                                    <label class="label">Mobile Number <span style="color: grey">*</span></label> <i class="fa fa-question-circle" style="color: orange" title="Mobile number is required for text notifactions regarding your account status."></i><br>
                                                                    ( @*<input type="tel" class="num" id="mobile1" placeholder="xxx" name="user_mobile1" size="3" required="">*@
                                                                    @Html.TextBoxFor(model => model.Mobile_Number1, new { @id = "mobile1", @class = "num", @placeholder = "xxx", @type = "tel", @maxLength = 3, @size = "3" })
                                                                    )
                                                                    @*<input type="tel" class="num" id="mobile2" placeholder="xxx" name="user_mobile2" size="3" required=""> -
                        <input type="tel" class="num" id="mobile3" placeholder="xxxx" name="user_mobile3" size="4" required="">*@

                                                                    @Html.TextBoxFor(model => model.Mobile_Number2, new { @id = "mobile2", @class = "num", @placeholder = "xxx", @type = "tel", @maxLength = 3, @size = "3" }) -
                                                                    @Html.TextBoxFor(model => model.Mobile_Number3, new { @id = "mobile3", @class = "num", @placeholder = "xxxx", @type = "tel", @maxLength = 4, @size = "4" })
                                                                    @Html.ValidationMessageFor(m => m.Mobile_Number1, "", new { @style = "color:red;", @class = "field1" })
                                                                </div>

                                                                <div class="half" style="float: left">
                                                                    <label class="label">Secondary Phone Number</label><br>
                                                                    ( @*<input type="tel" class="num" id="phone1" placeholder="xxx" name="user_phone1" size="3">*@
                                                                    @Html.TextBoxFor(model => model.Secondary_Phone_Number1, new { @name = "user_phone1", @id = "phone1", @class = "num", @placeholder = "xxx", @type = "tel", @size = 3, @maxLength = 3 })
                                                                    )
                                                                    @*<input type="tel" class="num" id="phone2" placeholder="xxx" name="user_phone2" size="3"> -
                        <input type="tel" class="num" id="phone3" placeholder="xxxx" name="user_phone3" size="4">*@
                                                                    @Html.TextBoxFor(model => model.Secondary_Phone_Number2, new { @name = "user_phone2", @id = "phone2", @class = "num", @placeholder = "xxx", @type = "tel", @size = 3, @maxLength = 3 })-
                                                                    @Html.TextBoxFor(model => model.Secondary_Phone_Number3, new { @name = "user_phone3", @id = "phone3", @class = "num", @placeholder = "xxxx", @type = "tel", @size = 4, @maxLength = 4 })
                                                                    @Html.ValidationMessageFor(m => m.Secondary_Phone_Number1, "", new { @style = "color:red;", @class = "field1" })
                                                                </div>

                                                                <div class="half" style="float: left">
                                                                    <label class="label">Address <span style="color: grey">*</span></label> <br>
                                                                    @*<input type="text" class="field2" id="address" placeholder="Enter Here" name="user_address" required="">*@
                                                                    @Html.TextBoxFor(model => model.Address, new { @name = "user_address", @id = "address", @class = "field2", @placeholder = "Enter Here", @type = "text" })
                                                                    @Html.ValidationMessageFor(m => m.Address, "", new { @style = "color:red;", @class = "field1" })
                                                                </div>
                                                                <div class="half" style="float: left">
                                                                    <label class="label">Address (Line 2)</label><br>
                                                                    @*<input type="text" class="field2" id="address2" placeholder="Enter Here" name="user_address2">*@
                                                                    @Html.TextBoxFor(model => model.Address2, new { @name = "user_address2", @id = "address2", @class = "field2", @placeholder = "Enter Here", @type = "text" })
                                                                    @Html.ValidationMessageFor(m => m.Address2, "", new { @style = "color:red;", @class = "field1" })
                                                                </div>
                                                                <div class="third" style="float: left; width: 280px">
                                                                    <label class="label">City <span style="color: grey">*</span></label><br>
                                                                    @*<input type="text" class="field3" style="width: 280px" id="city" placeholder="Enter Here" name="user_city" required="">*@
                                                                    @Html.TextBoxFor(model => model.City, new { @name = "user_city", @id = "city", @class = "field3", @style = "width: 280px", @placeholder = "Enter Here", @type = "text" })
                                                                    @Html.ValidationMessageFor(m => m.City, "", new { @style = "color:red;", @class = "field1" })
                                                                </div>
                                                                <div class="third" style="float: left; width: 80px">
                                                                    <label class="label">State <span style="color: grey">*</span></label><br>
                                                                    @*<select name="user_state" class="num" id="state" required="">
                            <option value="Alabama">AL</option>
                            <option value="Alaska">AK</option>
                            <option value="Arizona">AZ</option>
                            <option value="Arkansas">AR</option>
                            <option value="California">CA</option>
                            <option value="Colorado">CO</option>
                            <option value="Connecticut">CT</option>
                            <option value="Delaware">DE</option>
                            <option value="Florida">FL</option>
                            <option value="Georgia">GA</option>
                            <option value="Hawaii">HI</option>
                            <option value="Idaho">ID</option>
                            <option value="Illinois">IL</option>
                            <option value="Indiana">IN</option>
                            <option value="Iowa">IA</option>
                            <option value="Kansas">KS</option>
                            <option value="Kentucky">KY</option>
                            <option value="Louisiana">LA</option>
                            <option value="Maine">ME</option>
                            <option value="Maryland">MD</option>
                            <option value="Massachusetts">MA</option>
                            <option value="Michigan">MI</option>
                            <option value="Minnesota">MN</option>
                            <option value="Mississippi">MS</option>
                            <option value="Missouri">MO</option>
                            <option value="Montana">MT</option>
                            <option value="Nebraska">NE</option>
                            <option value="Nevada">NV</option>
                            <option value="New Hampshire">NH</option>
                            <option value="New Jersey">NJ</option>
                            <option value="New Mexico">NM</option>
                            <option value="New York">NY</option>
                            <option value="North Carolina">NC</option>
                            <option value="North Dakota">ND</option>
                            <option value="Ohio">OH</option>
                            <option value="Oklahoma">OK</option>
                            <option value="Oregon">OR</option>
                            <option value="Pennsylvania">PA</option>
                            <option value="Rhode Island">RI</option>
                            <option value="South Carolina">SC</option>
                            <option value="South Dakota">SD</option>
                            <option value="Tennessee">TN</option>
                            <option value="Texas">TX</option>
                            <option value="Utah" selected="">UT</option>
                            <option value="Vermont">VT</option>
                            <option value="Virginia">VA</option>
                            <option value="Washington">WA</option>
                            <option value="West Virginia">WV</option>
                            <option value="Wisconsin">WI</option>
                            <option value="Wyoming">WY</option>
                        </select>*@

                                                                    @{
                                                                        var items = new List<SelectListItem>
                                                                            (){
                                                                        (new SelectListItem() {Text ="AL", Value = "AL", Selected =false}),
                                                                        (new SelectListItem() {Text ="AK", Value = "AK", Selected =false}),
                                                                        (new SelectListItem() {Text ="AZ", Value = "AZ", Selected =false}),
                                                                        (new SelectListItem() {Text ="AR", Value = "AR", Selected =false}),
                                                                        (new SelectListItem() {Text ="CA", Value = "CA", Selected =false}),
                                                                        (new SelectListItem() {Text ="CO", Value = "CO", Selected =false}),
                                                                        (new SelectListItem() {Text ="CT", Value = "CT", Selected =false}),
                                                                        (new SelectListItem() {Text ="FL", Value = "FL", Selected =false}),
                                                                        (new SelectListItem() {Text ="GA", Value = "GA", Selected =false}),
                                                                        (new SelectListItem() {Text ="HI", Value = "HI", Selected =false}),
                                                                        (new SelectListItem() {Text ="ID", Value = "ID", Selected =false}),
                                                                        (new SelectListItem() {Text ="IL", Value = "IL", Selected =false}),
                                                                        (new SelectListItem() {Text ="IN", Value = "IN", Selected =false}),
                                                                        (new SelectListItem() {Text ="IA", Value = "IA", Selected =false}),
                                                                        (new SelectListItem() {Text ="KS", Value = "KS", Selected =false}),
                                                                        (new SelectListItem() {Text ="KY", Value = "KY", Selected =false}),
                                                                        (new SelectListItem() {Text ="LA", Value = "LA", Selected =false}),
                                                                        (new SelectListItem() {Text ="ME", Value = "ME", Selected =false}),
                                                                        (new SelectListItem() {Text ="MD", Value = "MD", Selected =false}),
                                                                        (new SelectListItem() {Text ="MA", Value = "MA", Selected =false}),
                                                                        (new SelectListItem() {Text ="MI", Value = "MI", Selected =false}),
                                                                        (new SelectListItem() {Text ="MN", Value = "MN", Selected =false}),
                                                                        (new SelectListItem() {Text ="MS", Value = "MS", Selected =false}),
                                                                        (new SelectListItem() {Text ="MO", Value = "MO", Selected =false}),
                                                                        (new SelectListItem() {Text ="MT", Value = "MT", Selected =false}),
                                                                        (new SelectListItem() {Text ="NE", Value = "NE", Selected =false}),
                                                                        (new SelectListItem() {Text ="NV", Value = "NV", Selected =false}),
                                                                        (new SelectListItem() {Text ="NH", Value = "NH", Selected =false}),
                                                                        (new SelectListItem() {Text ="NJ", Value = "NJ", Selected =false}),
                                                                            (new SelectListItem() {Text ="NM", Value = "NM", Selected =false}),
                                                                             (new SelectListItem() {Text ="NY", Value = "NY", Selected =false}),
                                                                              (new SelectListItem() {Text ="NC", Value = "NC", Selected =false}),
                                                                               (new SelectListItem() {Text ="ND", Value = "ND", Selected =false}),
                                                                                (new SelectListItem() {Text ="OH", Value = "OH", Selected =false}),
                                                                                 (new SelectListItem() {Text ="OK", Value = "OK", Selected =false}),
                                                                                  (new SelectListItem() {Text ="OR", Value = "OR", Selected =false}),
                                                                                   (new SelectListItem() {Text ="PA", Value = "PA", Selected =false}),
                                                                                   (new SelectListItem() {Text ="RI", Value = "RI", Selected =false}),
                                                                                   (new SelectListItem() {Text ="SC", Value = "SC", Selected =false}),
                                                                                   (new SelectListItem() {Text ="SD", Value = "SD", Selected =false}),
                                                                                   (new SelectListItem() {Text ="TN", Value = "TN", Selected =false}),
                                                                                   (new SelectListItem() {Text ="TX", Value = "TX", Selected =false}),
                                                                                   (new SelectListItem() {Text ="UT", Value = "UT", Selected =false}),
                                                                                   (new SelectListItem() {Text ="VT", Value = "VT", Selected =false}),
                                                                                   (new SelectListItem() {Text ="VA", Value = "VA", Selected =false}),
                                                                                   (new SelectListItem() {Text ="WA", Value = "WA", Selected =false}),
                                                                                   (new SelectListItem() {Text ="WV", Value = "WV", Selected =false}),
                                                                                   (new SelectListItem() {Text ="WI", Value = "WI", Selected =false}),
                                                                                   (new SelectListItem() {Text ="WY", Value = "WY", Selected =false})

                                                                        };
                                                                    }

                                                                    @Html.DropDownListFor(m => m.State, items, "State", new { @class = "num" })
                                                                    @Html.ValidationMessageFor(m => m.State, "", new { @style = "color:red;", @class = "field1" })
                                                                </div>
                                                                <div class="third" style="float: left">
                                                                    <label class="label">Zip Code <span style="color: grey">*</span></label><br>
                                                                    @*<input type="text" class="field3" id="zip" placeholder="Enter Here" name="user_zip" required="">*@
                                                                    @Html.TextBoxFor(model => model.Zip_Code, new { @name = "user_zip", @id = "zip", @class = "field3", @style = "width: 280px", @placeholder = "Enter Here", @type = "text" })
                                                                    @Html.ValidationMessageFor(m => m.Zip_Code, "", new { @style = "color:red;", @class = "field1" })
                                                                </div>
                                                                <div class="half" style="float: left; margin-right: 110px">
                                                                    <label class="label">Date of Birth <span style="color: grey">*</span></label><br>
                                                                    @*<input type="date" class="field2" id="dob" name="user_dob" required="">*@
                                                                    @Html.TextBoxFor(model => model.Date_of_Birth, new { @name = "user_dob", @id = "dob", @class = "field2", @placeholder = "", @type = "date" })
                                                                    @Html.ValidationMessageFor(m => m.Date_of_Birth, "", new { @style = "color:red;", @class = "field1" })
                                                                </div>
                                                                <div class="third" style="float: left">
                                                                    <label class="label">Current Military? <span style="color: grey">*</span></label><br>
                                                                    @*<input type="checkbox" class="field2" id="military" name="user_military" checked="yes" required="">*@
                                                                    @Html.CheckBoxFor(m => m.Current_Military, new { @class = "field2", @id = "military", @name = "user_military" })
                                                                    @Html.ValidationMessageFor(m => m.Current_Military, "", new { @style = "color:red;", @class = "field1" })
                                                                </div>

                                                                <center>
                                                                    <input type="submit" name="continue1" value="CONTINUE YOUR APPLICATION" class="g-recaptcha" data-sitekey="6LeFvSAUAAAAADi7qHyv1ZrenUjCcv3_y5kZXrw9" data-callback="YourOnSubmitFn" style="font-family: &#39;Roboto&#39;, sans-serif;
				font-weight: 400;
				align-content: center;
				margin-left: 10px;
				margin-top: 40px;
				background-color: #37a046;
				border-radius: 5px;
   		 		border: none;
    			color: white;
    			padding: 10px 30px;
				text-align: center;
				text-transform: capitalize;
    			display: inline-block;
    			font-size: 15px;">
                                                                </center>

                                                            </center>

                                                            @*</form>*@
                                                                        }
                                                    </fieldset>
                                                </center>

                                            </div>
                                        </div>
                                        <div data-id="xu5t53q" class="elementor-element elementor-element-xu5t53q elementor-widget elementor-widget-divider" data-element_type="divider.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-divider">
                                                    <span class="elementor-divider-separator"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="kuf03po" class="elementor-element elementor-element-kuf03po elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-text-editor elementor-clearfix"><p>All personal information and account details are safe and secure on this website. For more information on the security of this site, please click the seals below.</p></div>
                                            </div>
                                        </div>
                                        <section data-id="81yo9sk" class="elementor-element elementor-element-81yo9sk elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section-content-middle elementor-section elementor-inner-section" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="vd44y2m" class="elementor-element elementor-element-vd44y2m elementor-column elementor-col-33 elementor-inner-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="s76knx1" class="elementor-element elementor-element-s76knx1 elementor-widget elementor-widget-html" data-element_type="html.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div style="text-align:center"><a href="https://leapcredit.com/application-part2/#" onclick="window.open('https://www.sitelock.com/verify.php?site=leapcredit.com&#39;,&#39;SiteLock&#39;,&#39;width=600,height=600,left=160,top=170');"><img class="img-responsive" alt="SiteLock" title="SiteLock" src="~/Content/Application_Part2/leapcredit.com.download"></a></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="50jnt1s" class="elementor-element elementor-element-50jnt1s elementor-column elementor-col-33 elementor-inner-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="lq1kx87" class="elementor-element elementor-element-lq1kx87 elementor-widget elementor-widget-html" data-element_type="html.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div style="text-align:center"><span id="siteseal">
                                                                        <script async="" type="text/javascript" src="~/Content/Application_Part2/getSeal"></script><img style="cursor:pointer;cursor:hand" src="~/Content/Application_Part2/siteseal_gd_3_h_l_m.gif" onclick="verifySeal();" alt="SSL site seal - click to verify"></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="5zngemn" class="elementor-element elementor-element-5zngemn elementor-column elementor-col-33 elementor-inner-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="1gv95j1" class="elementor-element elementor-element-1gv95j1 elementor-widget elementor-widget-image" data-element_type="image.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-image">
                                                                            <a href="https://www.mcafeesecure.com/verify?host=leapcredit.com" target="_blank">
                                                                                <img width="470" height="178" src="~/Content/Application_Part2/Screen-Shot-2017-06-15-at-2.33.38-PM.png" class="attachment-large size-large" alt="" srcset="https://leapcredit.com/wp-content/uploads/2017/04/Screen-Shot-2017-06-15-at-2.33.38-PM.png 470w, https://leapcredit.com/wp-content/uploads/2017/04/Screen-Shot-2017-06-15-at-2.33.38-PM-300x114.png 300w" sizes="(max-width: 470px) 100vw, 470px">
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-id="czzjhjn" class="elementor-element elementor-element-czzjhjn elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;shape_divider_top&quot;:&quot;triangle&quot;,&quot;shape_divider_top_negative&quot;:&quot;yes&quot;}" data-element_type="section">
                    <div class="elementor-shape elementor-shape-top" data-negative="true">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                            <path class="elementor-shape-fill" d="M500.2,94.7L0,0v100h1000V0L500.2,94.7z"></path>
                        </svg>
                    </div>
                    <div class="elementor-container elementor-column-gap-wider">
                        <div class="elementor-row">
                            <div data-id="xalhkth" class="elementor-element elementor-element-xalhkth elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="urgmcoe" class="elementor-element elementor-element-urgmcoe elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-text-editor elementor-clearfix"><p>About Us</p></div>
                                            </div>
                                        </div>
                                        <div data-id="ayxnrjc" class="elementor-element elementor-element-ayxnrjc elementor-widget elementor-widget-divider" data-element_type="divider.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-divider">
                                                    <span class="elementor-divider-separator"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="azkszuv" class="elementor-element elementor-element-azkszuv elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-text-editor elementor-clearfix"><p>Leap Credit offers an easy way for customers to get instant cash loans for their financial needs. We aim to give our customers a transparent and safe way to quickly apply and get approved for loans.</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-id="ecighbr" class="elementor-element elementor-element-ecighbr elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="gzmcmci" class="elementor-element elementor-element-gzmcmci elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-text-editor elementor-clearfix"><p>Quick Links</p></div>
                                            </div>
                                        </div>
                                        <div data-id="gseafcf" class="elementor-element elementor-element-gseafcf elementor-widget elementor-widget-divider" data-element_type="divider.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-divider">
                                                    <span class="elementor-divider-separator"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="bidowgl" class="elementor-element elementor-element-bidowgl elementor-align-left elementor-widget elementor-widget-icon-list" data-element_type="icon-list.default">
                                            <div class="elementor-widget-container">
                                                <ul class="elementor-icon-list-items">
                                                    <li class="elementor-icon-list-item">
                                                        <a href="http://leapcredit.com/">
                                                            <span class="elementor-icon-list-text">Home</span>
                                                        </a>
                                                    </li>
                                                    <li class="elementor-icon-list-item">
                                                        <a href="http://leapcredit.com/#faqs">
                                                            <span class="elementor-icon-list-text">FAQ's</span>
                                                        </a>
                                                    </li>
                                                    <li class="elementor-icon-list-item">
                                                        <a href="http://leapcredit.com/#contactus">
                                                            <span class="elementor-icon-list-text">Contact Us</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-id="utftrcn" class="elementor-element elementor-element-utftrcn elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="tgnclnq" class="elementor-element elementor-element-tgnclnq elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-text-editor elementor-clearfix"><p>Contact Us</p></div>
                                            </div>
                                        </div>
                                        <div data-id="nefqagv" class="elementor-element elementor-element-nefqagv elementor-widget elementor-widget-divider" data-element_type="divider.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-divider">
                                                    <span class="elementor-divider-separator"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="vokgxul" class="elementor-element elementor-element-vokgxul elementor-align-left elementor-widget elementor-widget-icon-list" data-element_type="icon-list.default">
                                            <div class="elementor-widget-container">
                                                <ul class="elementor-icon-list-items">
                                                    <li class="elementor-icon-list-item">
                                                        <span class="elementor-icon-list-icon">
                                                            <i class="fa fa-phone"></i>
                                                        </span>
                                                        <span class="elementor-icon-list-text">(888) 532-7842</span>
                                                    </li>
                                                    <li class="elementor-icon-list-item">
                                                        <span class="elementor-icon-list-icon">
                                                            <i class="fa fa-envelope"></i>
                                                        </span>
                                                        <span class="elementor-icon-list-text">support@leapcredit.com</span>
                                                    </li>
                                                    <li class="elementor-icon-list-item">
                                                        <span class="elementor-icon-list-icon">
                                                            <i class="fa fa-clock-o"></i>
                                                        </span>
                                                        <span class="elementor-icon-list-text">9 a.m. EST - 5 p.m. EST</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-id="jvysdxq" class="elementor-element elementor-element-jvysdxq elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div data-id="wquagel" class="elementor-element elementor-element-wquagel elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="igyzueh" class="elementor-element elementor-element-igyzueh elementor-widget elementor-widget-divider" data-element_type="divider.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-divider">
                                                    <span class="elementor-divider-separator"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="mkewofm" class="elementor-element elementor-element-mkewofm elementor-widget elementor-widget-image" data-element_type="image.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image">
                                                    <a href="http://leapcredit.com/">
                                                        <img width="300" height="99" src="~/Content/Application_Part2/LeapCreditWhiteLogo-300x99.png" class="attachment-medium size-medium" alt="" srcset="https://leapcredit.com/wp-content/uploads/2017/04/LeapCreditWhiteLogo-300x99.png 300w, https://leapcredit.com/wp-content/uploads/2017/04/LeapCreditWhiteLogo-768x254.png 768w, https://leapcredit.com/wp-content/uploads/2017/04/LeapCreditWhiteLogo-1024x339.png 1024w" sizes="(max-width: 300px) 100vw, 300px">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="clbxizi" class="elementor-element elementor-element-clbxizi elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-text-editor elementor-clearfix"><p><i>By using Leap Credit’s website, you certify that you are a legal resident of the state of Utah and are above the age of 18. Filing an application with Leap Credit does not guarantee approval for a loan or a specific loan amount. The application process will require a valid email address, SSN, home address, and employment information. We may reach out to applicants seeking further information that will allow us to better assess their credit worthiness. The loan amounts, terms, and fees will vary between borrowers based on our verification process regarding income, financial history, and credit history. Non-payment or late payments can result in additional penalties. All of these factors are tightly governed by state laws. Before signing the loan agreements, we strongly advise you to fully read, review, and understand our policies, terms, and conditions. Leap Credit applications and policies are subject to change and additional conditions.</i></p><p><i><br></i>*Decisioning may take anywhere between 1-3 business days.<br>**Funds may take up to 2 business days to reflect in your bank account.&nbsp;</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-id="onzutql" class="elementor-element elementor-element-onzutql elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-hidden-tablet elementor-section elementor-top-section" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div data-id="grqjpde" class="elementor-element elementor-element-grqjpde elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="iumjioq" class="elementor-element elementor-element-iumjioq elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-text-editor elementor-clearfix"><p>© Copyright 2017 www.leapcredit.com All Rights Reserved.</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-id="tokxyih" class="elementor-element elementor-element-tokxyih elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                <div class="elementor-column-wrap">
                                    <div class="elementor-widget-wrap">
                                    </div>
                                </div>
                            </div>
                            <div data-id="szqdujt" class="elementor-element elementor-element-szqdujt elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <section data-id="zivzrlm" class="elementor-element elementor-element-zivzrlm elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="vbnjpzl" class="elementor-element elementor-element-vbnjpzl elementor-column elementor-col-33 elementor-inner-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="tgcfiqg" class="elementor-element elementor-element-tgcfiqg elementor-align-center elementor-widget elementor-widget-button" data-element_type="button.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-button-wrapper">
                                                                            <a href="http://leapcredit.com/wp-content/uploads/2017/05/Leap-Credit-LLC-Website-Terms-of-Use.pdf" class="elementor-button-link elementor-button elementor-size-sm">
                                                                                <span class="elementor-button-content-wrapper">
                                                                                    <span class="elementor-button-text">Terms of Use</span>
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="flbqpvs" class="elementor-element elementor-element-flbqpvs elementor-column elementor-col-33 elementor-inner-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="nnkhuze" class="elementor-element elementor-element-nnkhuze elementor-align-center elementor-widget elementor-widget-button" data-element_type="button.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-button-wrapper">
                                                                            <a href="http://leapcredit.com/wp-content/uploads/2017/05/Privacy-Policy-v2.pdf" class="elementor-button-link elementor-button elementor-size-sm" target="_blank">
                                                                                <span class="elementor-button-content-wrapper">
                                                                                    <span class="elementor-button-text">Privacy Policy</span>
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="lvcxhfe" class="elementor-element elementor-element-lvcxhfe elementor-column elementor-col-33 elementor-inner-column" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="qlwlkvb" class="elementor-element elementor-element-qlwlkvb elementor-shape-square elementor-widget elementor-widget-social-icons" data-element_type="social-icons.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-social-icons-wrapper">
                                                                            <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-animation-shrink" href="https://leapcredit.com/application-part2/" target="_blank">
                                                                                <i class="fa fa-facebook"></i>
                                                                            </a>
                                                                            <a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-animation-shrink" href="https://leapcredit.com/application-part2/" target="_blank">
                                                                                <i class="fa fa-twitter"></i>
                                                                            </a>
                                                                            <a class="elementor-icon elementor-social-icon elementor-social-icon-google-plus elementor-animation-shrink" href="https://leapcredit.com/application-part2/" target="_blank">
                                                                                <i class="fa fa-google-plus"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script type="text/javascript">
              (function() {
                var sa = document.createElement('script'); sa.type = 'text/javascript'; sa.async = true;
                sa.src = ('https:' == document.location.protocol ? 'https://cdn' : 'http://cdn') + '.ywxi.net/js/1.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sa, s);
              })();
    </script><!--Embed from Zendesk Chat Chat Wordpress Plugin v1.4.11-->
    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
  $.src='//v2.zopim.com/?4oSGB95qXGo2Vm3XGlPdA4IobB0mOaSG';z.t=+new Date;$.
  type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    </script>
    <script>$zopim( function() {
})</script><!--End of Zendesk Chat Script-->
    <script type="text/javascript">
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/leapcredit.com\/wp-json\/","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
/* ]]> */
    </script>
    <script type="text/javascript" src="~/Content/Application_Part2/scripts.js.download"></script>
    <script type="text/javascript">
var renderInvisibleReCaptcha = function() {

    for (var i = 0; i < document.forms.length; ++i) {
        var form = document.forms[i];
        var holder = form.querySelector('.inv-recaptcha-holder');

        if (null === holder) continue;
		holder.innerHTML = '';

        (function(frm){
			var cf7SubmitElm = frm.querySelector('.wpcf7-submit');
            var holderId = grecaptcha.render(holder,{
                'sitekey': '', 'size': 'invisible', 'badge' : 'bottomright',
                'callback' : function (recaptchaToken) {
					((null !== cf7SubmitElm) && (typeof jQuery != 'undefined')) ? jQuery(frm).submit() : HTMLFormElement.prototype.submit.call(frm);
                },
                'expired-callback' : function(){grecaptcha.reset(holderId);}
            });

            frm.onsubmit = function (evt){evt.preventDefault();grecaptcha.execute(holderId);};

			if(null !== cf7SubmitElm && (typeof jQuery != 'undefined') ){
				jQuery(cf7SubmitElm).one('click', function(clickEvt){
					clickEvt.preventDefault();
					grecaptcha.execute(holderId);
				});
			}

        })(form);
    }
};
    </script>
    <script type="text/javascript" async="" defer="" src="~/Content/Application_Part2/api.js.download"></script>
    <script type="text/javascript" src="~/Content/Application_Part2/navigation.js.download"></script>
    <script type="text/javascript" src="~/Content/Application_Part2/skip-link-focus-fix.js.download"></script>
    <script type="text/javascript">
/* <![CDATA[ */
var GEM = {"thankyou":"Thank you for signing up!","thankyou_suppressed":"Thank you for signing up! Please check your email to confirm your subscription.","oops":"Oops! There was a problem. Please try again.","email":"Please enter a valid email address.","required":"%s is a required field."};
/* ]]> */
    </script>
    <script type="text/javascript" src="~/Content/Application_Part2/gem.min.js.download"></script>
    <script type="text/javascript" src="~/Content/Application_Part2/wp-embed.min.js.download"></script>
    <script type="text/javascript" src="~/Content/Application_Part2/waypoints.min.js.download"></script>
    <script type="text/javascript">
/* <![CDATA[ */
var elementorFrontendConfig = {"isEditMode":"","stretchedSectionContainer":"","is_rtl":"","urls":{"assets":"https:\/\/leapcredit.com\/wp-content\/plugins\/elementor\/assets\/"}};
/* ]]> */
    </script>
    <script type="text/javascript" src="~/Content/Application_Part2/frontend.min.js.download"></script>

</body>
</html>
